USE [master]
GO
/****** Object:  Database [Koncerti]    Script Date: 4 Mar 2026 21:35:22 ******/
CREATE DATABASE [Koncerti]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Koncerti', FILENAME = N'C:\Users\lazar\Koncerti.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Koncerti_log', FILENAME = N'C:\Users\lazar\Koncerti_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Koncerti].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Koncerti]
GO
/****** Object:  Table [dbo].[Bend]    Script Date: 4 Mar 2026 21:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bend](
	[IzvođačId] [int] NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[BrojČlanova] [int] NOT NULL,
 CONSTRAINT [PK_Bend] PRIMARY KEY CLUSTERED 
(
	[IzvođačId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grad]    Script Date: 4 Mar 2026 21:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Grad] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Izvođač]    Script Date: 4 Mar 2026 21:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Izvođač](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Izvođač] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IzvođačŽanr]    Script Date: 4 Mar 2026 21:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IzvođačŽanr](
	[ŽanrId] [int] NOT NULL,
	[IzvođačId] [int] NOT NULL,
 CONSTRAINT [PK_IzvođačŽanr] PRIMARY KEY CLUSTERED 
(
	[ŽanrId] ASC,
	[IzvođačId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Karta]    Script Date: 4 Mar 2026 21:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Karta](
	[IzvođačId] [int] NOT NULL,
	[LokacijaId] [int] NOT NULL,
	[Datum] [date] NOT NULL,
	[Red] [int] NOT NULL,
	[Sedište] [int] NOT NULL,
	[Cena] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Karta] PRIMARY KEY CLUSTERED 
(
	[IzvođačId] ASC,
	[LokacijaId] ASC,
	[Datum] ASC,
	[Red] ASC,
	[Sedište] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Koncert]    Script Date: 4 Mar 2026 21:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Koncert](
	[IzvođačId] [int] NOT NULL,
	[LokacijaId] [int] NOT NULL,
	[Datum] [date] NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[VremeTrajanja] [int] NOT NULL,
	[VremePočetka] [time](3) NOT NULL,
	[Naziv] [nvarchar](50) NULL,
 CONSTRAINT [PK_Koncert] PRIMARY KEY CLUSTERED 
(
	[IzvođačId] ASC,
	[LokacijaId] ASC,
	[Datum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lokacija]    Script Date: 4 Mar 2026 21:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lokacija](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[Adresa] [nvarchar](50) NOT NULL,
	[Kapacitet] [int] NOT NULL,
	[GradId] [int] NOT NULL,
 CONSTRAINT [PK_Lokacija] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Muzičar]    Script Date: 4 Mar 2026 21:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Muzičar](
	[IzvođačId] [int] NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[Pol] [nchar](1) NOT NULL,
 CONSTRAINT [PK_Muzičar] PRIMARY KEY CLUSTERED 
(
	[IzvođačId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Žanr]    Script Date: 4 Mar 2026 21:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Žanr](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Žanr] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailUnique]    Script Date: 4 Mar 2026 21:35:22 ******/
ALTER TABLE [dbo].[Izvođač] ADD  CONSTRAINT [EmailUnique] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bend]  WITH CHECK ADD  CONSTRAINT [FK_Bend_Izvođač] FOREIGN KEY([IzvođačId])
REFERENCES [dbo].[Izvođač] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Bend] CHECK CONSTRAINT [FK_Bend_Izvođač]
GO
ALTER TABLE [dbo].[IzvođačŽanr]  WITH CHECK ADD  CONSTRAINT [FK_IzvođačŽanr_Izvođač] FOREIGN KEY([IzvođačId])
REFERENCES [dbo].[Izvođač] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[IzvođačŽanr] CHECK CONSTRAINT [FK_IzvođačŽanr_Izvođač]
GO
ALTER TABLE [dbo].[IzvođačŽanr]  WITH CHECK ADD  CONSTRAINT [FK_IzvođačŽanr_Žanr] FOREIGN KEY([ŽanrId])
REFERENCES [dbo].[Žanr] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[IzvođačŽanr] CHECK CONSTRAINT [FK_IzvođačŽanr_Žanr]
GO
ALTER TABLE [dbo].[Karta]  WITH CHECK ADD  CONSTRAINT [FK_Karta_Koncert] FOREIGN KEY([IzvođačId], [LokacijaId], [Datum])
REFERENCES [dbo].[Koncert] ([IzvođačId], [LokacijaId], [Datum])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Karta] CHECK CONSTRAINT [FK_Karta_Koncert]
GO
ALTER TABLE [dbo].[Koncert]  WITH CHECK ADD  CONSTRAINT [FK_Koncert_Izvođač] FOREIGN KEY([IzvođačId])
REFERENCES [dbo].[Izvođač] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Koncert] CHECK CONSTRAINT [FK_Koncert_Izvođač]
GO
ALTER TABLE [dbo].[Koncert]  WITH CHECK ADD  CONSTRAINT [FK_Koncert_Lokacija] FOREIGN KEY([LokacijaId])
REFERENCES [dbo].[Lokacija] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Koncert] CHECK CONSTRAINT [FK_Koncert_Lokacija]
GO
ALTER TABLE [dbo].[Lokacija]  WITH CHECK ADD  CONSTRAINT [FK_Lokacija_Grad] FOREIGN KEY([GradId])
REFERENCES [dbo].[Grad] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Lokacija] CHECK CONSTRAINT [FK_Lokacija_Grad]
GO
ALTER TABLE [dbo].[Muzičar]  WITH CHECK ADD  CONSTRAINT [FK_Muzičar_Izvođač] FOREIGN KEY([IzvođačId])
REFERENCES [dbo].[Izvođač] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Muzičar] CHECK CONSTRAINT [FK_Muzičar_Izvođač]
GO
ALTER TABLE [dbo].[Bend]  WITH CHECK ADD  CONSTRAINT [BrojČlanovaConstraint] CHECK  (([BrojČlanova]>(1)))
GO
ALTER TABLE [dbo].[Bend] CHECK CONSTRAINT [BrojČlanovaConstraint]
GO
ALTER TABLE [dbo].[Karta]  WITH CHECK ADD  CONSTRAINT [CK_Karta] CHECK  (([Cena]>=(0)))
GO
ALTER TABLE [dbo].[Karta] CHECK CONSTRAINT [CK_Karta]
GO
ALTER TABLE [dbo].[Karta]  WITH CHECK ADD  CONSTRAINT [CK_Karta_1] CHECK  (([Sedište]>(0)))
GO
ALTER TABLE [dbo].[Karta] CHECK CONSTRAINT [CK_Karta_1]
GO
ALTER TABLE [dbo].[Karta]  WITH CHECK ADD  CONSTRAINT [CK_Karta_2] CHECK  (([Red]>(0)))
GO
ALTER TABLE [dbo].[Karta] CHECK CONSTRAINT [CK_Karta_2]
GO
ALTER TABLE [dbo].[Koncert]  WITH CHECK ADD  CONSTRAINT [StatusConstraint] CHECK  (([Status]=N'Otkazan' OR [Status]=N'Održan' OR [Status]=N'Zakazan'))
GO
ALTER TABLE [dbo].[Koncert] CHECK CONSTRAINT [StatusConstraint]
GO
ALTER TABLE [dbo].[Lokacija]  WITH CHECK ADD  CONSTRAINT [CK_Lokacija] CHECK  (([Kapacitet]>(0)))
GO
ALTER TABLE [dbo].[Lokacija] CHECK CONSTRAINT [CK_Lokacija]
GO
ALTER TABLE [dbo].[Muzičar]  WITH CHECK ADD  CONSTRAINT [PolConstraint] CHECK  (([Pol]=N'Ž' OR [Pol]=N'M'))
GO
ALTER TABLE [dbo].[Muzičar] CHECK CONSTRAINT [PolConstraint]
GO
/****** Object:  Trigger [dbo].[TR_KartaNePrelaziKapacitet]    Script Date: 4 Mar 2026 21:35:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[TR_KartaNePrelaziKapacitet]
ON [dbo].[Karta]
AFTER INSERT, UPDATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Violations INT = 0;

    ;WITH AffectedConcerts AS (
        SELECT DISTINCT IzvođačId, LokacijaId, Datum
        FROM inserted
    ),
    Counts AS (
        SELECT
            k.IzvođačId,
            k.LokacijaId,
            k.Datum,
            COUNT(*) AS BrojKarata,
            l.Kapacitet
        FROM dbo.Karta k
        JOIN AffectedConcerts ac
            ON ac.IzvođačId = k.IzvođačId
           AND ac.LokacijaId = k.LokacijaId
           AND ac.Datum      = k.Datum
        JOIN dbo.Koncert c
            ON c.IzvođačId = k.IzvođačId
           AND c.LokacijaId = k.LokacijaId
           AND c.Datum      = k.Datum
        JOIN dbo.Lokacija l
            ON l.Id = c.LokacijaId
        GROUP BY
            k.IzvođačId, k.LokacijaId, k.Datum, l.Kapacitet
    )
    SELECT @Violations = COUNT(*)
    FROM Counts
    WHERE BrojKarata > Kapacitet;

    IF (@Violations > 0)
    BEGIN
        THROW 50001, N'Kapacitet lokacije je popunjen: ne možete dodati više karata za taj koncert.', 1;
        ROLLBACK TRANSACTION;
        RETURN;
    END
END
GO
ALTER TABLE [dbo].[Karta] ENABLE TRIGGER [TR_KartaNePrelaziKapacitet]
GO
USE [master]
GO
